[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=30
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=8
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=0
Preferred_Height=0

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Id=0
Address=0
Name=Package id 0
Color=#00B000
Show=true
Min=0.00
Max=55.00

[Chip1]
Name=nvme-300
Number=1

[Chip2]
Name=acpitz-0
Number=2

[Chip3]
Name=iwlwifi_1-0
Number=3

[Chip4]
Name=pch_cannonlake-0
Number=4

[Chip5]
Name=nouveau-100
Number=5

[Chip6]
Name=BAT0-0
Number=6

[Chip7]
Name=ACPI
Number=7

