[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/timmer/Desktop/Screenshot_2020-09-30_21-06-41.png]
row=3
col=0

[/home/timmer/Desktop/Screenshot_2020-10-16_09-49-54.png]
row=1
col=1

[/home/timmer/Desktop/Screenshot_2020-11-02_15-30-35.png]
row=0
col=1

[/home/timmer/Desktop/Screenshot_2020-09-30_13-12-27.png]
row=6
col=0

[/home/timmer/Desktop/Screenshot_2020-09-30_20-59-34.png]
row=4
col=0

[/home/timmer/Desktop/ree.png]
row=5
col=0

[/home/timmer/Desktop/under_pressure.png]
row=8
col=0

[/home/timmer/Desktop/Firefox ESR.desktop]
row=2
col=1

[/home/timmer/Desktop/Screenshot_2020-09-30_13-07-44.png]
row=7
col=0

[195 GB Encrypted]
row=0
col=0

[Trash]
row=2
col=0

[/home/timmer]
row=1
col=0

